.btn{
    text-decoration: none;
    color: rgb(13, 13, 13);
    font-size: 1.6em;
}

.btn::after , .btn::before{
    border: 5px solid black;
    content: "";
    width: calc(100% - 10px);
    height:  calc(100% - 10px)%;
    position: absolute;
}