.footercontainer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.socials{
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.socialimage{
    width: 2em;
    transition: all 100ms ease;
}

.socialimage:hover{
    transform: scale(120%)
}
