
h1,h2,h3,h4,h5,h6{
    font-weight: 100;
}

.intro{
    /* width: 80vw; */
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.greet > h1{
    font-size: 3.4em;
}

span{
    background: linear-gradient(220deg , #00dbde , #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.name > h2{
    font-size: 4em;
}

@media only screen and (max-width: 700px) {
    .intro{
        min-height: 70vh;
        height: fit-content;
    }
}
