
h1,h2,h3,h4,h5,h6{
    font-weight: 100;
}

.intro{
    /* width: 80vw; */
    width: 50%;
    min-height: 67vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em;
}

.greet > h1{
    font-size: 3.4em;
}

span{
    background: linear-gradient(220deg , #00dbde , #fc00ff);
    -webkit-background-clip: text;
    /* background-clip: text; */
    -webkit-text-fill-color: transparent;
}


.name > h2{
    font-size: 4em;
}
