.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  /* height: 20vh; */
  justify-content: center;
  align-items: center;
}

.navigationitems {
  display: flex;
  width: 85vw;
}

.logo {
  width: 10vw;
  text-align: center;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65.5vw;
}

.themetoggle {
  width: 10vw;
  text-align: center;
}

/* MOBILE NAVIGATION MENU ICON*/

.mobile-nav {
  position: absolute;
  display: none;
  width:3em;
    top: calc(3vh + 1.4em);
    right: 3em;
}

.mobile-nav:hover > .line1 {
  transform: rotate(-90deg);
}

.mobile-nav:hover > .line2 {
  transform: rotateY(-90deg);
}

.line1,
.line2 {
  margin-left: 10px;
  width: 4px;
  height: 1.8em;
  background-color: rgb(51, 51, 51);
  transform: skew(20deg);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.themetoggle-mobile {
  display: none;
}


@media only screen and (max-width: 700px) {

  .navlinks {
    width: 100%;
    height: 25vh;
    transform: all 0.3s ease;
    margin: 1em 0;
    flex-direction: column;
    justify-content: space-between;
  }

  /* THIS CLASS IS FOR TODO ANIMATION LATER */
  
  .navlinks.active{
    display: flex;
  }

  .themetoggle{
      display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .navigationitems {
    flex-direction: column;
  }

  .themetoggle-mobile {
    display: block;
    width: 10vw;
    text-align: center;
  }
}