.navbar{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.navigationitems{
    display: flex;
    width: 70vw;
}

.logo{
    width: 10vw;
    text-align: center;
}

.navlinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

.themetoggle{
    width: 10vw;
    text-align: center;
}

